body {
    background-color: #da9835da;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/background.jpg);
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    
}

.xcol {
    position: relative;
    left: 0;
}

.character {
    width: 160px;
}
.card {
    height: 210px;
    min-width: 160px;
    max-width: 160px;
    padding: 5px 5px;
    background: white;
    border: 1px solid black;
}

.card-title {
    margin-top: -20px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.0em;
    height: 35px;
}

.card-img {
    background: url(../images/characters.jpg) no-repeat;
    /* background-position: -445px -410px; */
    height: 130px;
    width: 110px;
    display: block;
    margin-top: -5px;
}

.card-text {
    text-align: center;
    font-size: 1.0em;
}

h2 {
    font-weight: bolder;
    text-align: right;
    letter-spacing: 5px;
}

h4 {
    padding-top: 20px;
    color: black;
    font-weight: bold;
}

#statusarea {
    margin-top: 75px;
    font-size: 1.2em;
}

#restart {
    margin-top: 20px;
    margin-left: 10px;
}

.zone {
    background-color: rgba(250, 250, 250, 0.10);
    padding-bottom: 5px;  
}